 
canvas{
    width: 100vw;

    height: 75vh;
}

*
{
    margin: 0;
}

body > div
{
    width: 100vw;
    
    overflow: hidden;
    overscroll-behavior: contain;
}

body
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    overscroll-behavior: contain;
}